<div class="div_text_centered">
<h2>Création d'un user !</h2>
<%= form_tag url_for(action: 'create'), method: "post" do %>

<h4><%= label_tag 'Email' %></h4>
  <%= text_field_tag 'email'%>
  <br /> <br />

<h4><%= label_tag 'First name' %></h4>
  <%= text_field_tag 'first_name'%>
  <br /> <br />

<h4><%= label_tag 'Last name' %></h4>
  <%= text_field_tag 'last_name'%>
  <br /> <br />

<h4><%= label_tag 'Age' %></h4>
  <%= text_field_tag 'age'%>
  <br /> <br />

<h4><%= label_tag 'Description' %></h4>
  <%= text_field_tag 'description'%>
  <br /> <br />

<h4><%= label_tag 'Password' %></h4>
  <%= password_field_tag 'password'%>
  <br /> <br />

  <%= submit_tag "Create User", {class: "btn btn-primary"} %>
  <br><br>
<% end %>

</div>