<div class="div_text_centered">
  <h2>Gossiper</h2>
    <p><%= Gossip.find(@id).user.first_name %></p><br/>
  <h3>Title</h3>
    <p><%= Gossip.find(@id).title %></p><br/>
  <h4>Contenu</h4>
    <p><%= Gossip.find(@id).content %></p><br/>
  <h5>Publishing Date</h5>
    <p><%= Gossip.find(@id).created_at %></p><br/>

  <%= link_to "Who is Gossiper #{Gossip.find(@id).user.first_name}?", user_path(Gossip.find(@id).user.id), class:"btn btn-primary" %>
  <%= link_to "Edit the Gossip", edit_gossip_path(Gossip.find(@id).id), class:"btn btn-primary" %>
  <%= link_to "Supprimer le Gossip", gossip_path(Gossip.find(@id).id), class:"btn btn-primary",  data: {confirm: 'Etes-vous sur?'}, method:"DELETE"%>

  <hr>

</div>
