<div class="div_text_centered">
  
  <h6>Gossiper Id : <%= @user_id %></h6>
  
  <h2>Gossiper Name</h2>
    <%= Gossip.find(@id).user.first_name %></p>
    <br/>
  <h3>Title</h3>
    <p><%= Gossip.find(@id).title %></p><br/>
  <h4>Contenu</h4>
    <p><%= Gossip.find(@id).content %></p><br/>
  <h4>City</h4>
    <p><a href="<%= city_path(@city_id) %>" class="btn btn-info">About City <%= @city  %></a><br/>
  <h5>Publishing Date</h5>
    <p><%= Gossip.find(@id).created_at %></p><br/>

  <a href="<%= user_path(@user_id) %>" class="btn btn-info">Who is Gossiper <%= User.find(@user_id).first_name %>?</a>
    
  <a href="<%= edit_gossip_path(@id) %>" class="btn btn-success">Edit this Gossip (Id: <%= Gossip.find(@id).id %>)</a>
  <hr>

</div>