
<% if @gossip.save %>
<div class="alert alert-success" role="alert">
  <p>Le message est bien enregistré</p>
  </div>
<% end %>



<h2 class="h1_welcome"><%= "Welcome \" #{@first_name}\" "%></h2>
<p class="h1_welcome">(Select a user in the browser to test: Ex: /welcome/Leo)</p>

<h1 class="h1_welcome">Here you can see all the Gossips!</h1>
<h3 class="h1_welcome"><%= "Today you can find #{@gossip_count} gossips" %></h3>
<hr>

<div class="row">
  <% Gossip.all.each_with_index do |gossip, index|  %>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text"><%= gossip.user.first_name %></p>
          <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">Gossip nº <%= gossip.id %></a>
        </div>
      </div>
      <br/>
    </div>
  <% end %>
</div>


